.login_layout {
  padding: 200px 0 0 0;
}
.login_form {
  margin: auto;
  max-width: 300px;
}
.login_form_forgot {
  float: right;
}
.login_form_button {
  width: 100%;
}
.title {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

.join_title {
  text-align: right;
  padding-right: 5px;
  margin-top: 10px;
}
